.activite-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 50px;
   width: 600px;
   
  }
  
  .form-title {
    font-size: 24px;
    color: #4caf50;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 16px;
    color: #4caf50;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-input,
  .form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-input:focus,
  .form-textarea:focus {
    border-color: #4caf50;
    outline: none;
  }
  
  .form-error {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .form-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .form-button:hover {
    background-color: #45a049;
  }
.header {
  height: 70px;
  background-color: #f0f0f0;
  /* Ajoutez d'autres styles au besoin */
}

.content {
  flex: 5;
  display: flex;
}

.side-nav {
  width: 350px;
  min-width: 230px;
  min-height: 100vh;
  background-color: #113c60;
  color: #fff;
  box-shadow: 5px 5px 5px #939393;
}
  